@import './base/_variables.scss';

* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import './blocks/_buttons';
@import './blocks/_header';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/titles';