@import './base/variables';


* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@media screen {
    
}

@import './blocks/_buttons';
@import './blocks/_header';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/titles';

@import './base/media';